In [1]:
import pandas as pd
import plotly
import plotly.plotly as py
import plotly.graph_objs as go

In [2]:
#reading file
df = pd.read_csv('/Users/vaibhaviawghate/Documents/Data Projects/countries of the world.csv')
df.head()

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,"48,0","0,00","23,06","163,07",700.0,"36,0","3,2","12,13","0,22","87,65",1,"46,6","20,34","0,38","0,24","0,38"
1,Albania,EASTERN EUROPE,3581655,28748,"124,6","1,26","-4,93","21,52",4500.0,"86,5","71,2","21,09","4,42","74,49",3,"15,11","5,22","0,232","0,188","0,579"
2,Algeria,NORTHERN AFRICA,32930091,2381740,"13,8","0,04","-0,39",31,6000.0,"70,0","78,1","3,22","0,25","96,53",1,"17,14","4,61","0,101","0,6","0,298"
3,American Samoa,OCEANIA,57794,199,"290,4","58,29","-20,71","9,27",8000.0,"97,0","259,5",10,15,75,2,"22,46","3,27",NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,"152,1","0,00","6,6","4,05",19000.0,"100,0","497,2","2,22",0,"97,78",3,"8,71","6,25",NaN,NaN,NaN

In [24]:
# replacing NaN with 0 and ',' with '.'
df.fillna(0, inplace=True)
for column in df.columns:
    try:
        df[column] = df[column].str.replace(",", ".").astype(float)
    except:
        print('')

In [4]:
df.describe()

,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
count,2.270000e+02,2.270000e+02,227.000000,227.000000,224.000000,224.000000,227.000000,209.000000,223.000000,225.000000,225.000000,225.000000,205.000000,224.000000,223.000000,212.000000,211.000000,212.000000
mean,2.874028e+07,5.982270e+05,379.047137,21.165330,0.038125,35.506964,9647.136564,82.838278,236.061435,13.797111,4.564222,81.638311,2.139024,22.114732,9.241345,0.150844,0.282711,0.565283
std,1.178913e+08,1.790282e+06,1660.185825,72.286863,4.889269,35.389899,10047.485847,19.722173,227.991829,13.040402,8.361470,16.140835,0.699397,11.176716,4.990026,0.146798,0.138272,0.165841
min,7.026000e+03,2.000000e+00,0.000000,0.000000,-20.990000,2.290000,0.000000,17.600000,0.200000,0.000000,0.000000,33.330000,1.000000,7.290000,2.290000,0.000000,0.020000,0.062000
25%,4.376240e+05,4.647500e+03,29.150000,0.100000,-0.927500,8.150000,1900.000000,70.600000,37.800000,3.220000,0.190000,71.650000,2.000000,12.672500,5.910000,0.037750,0.193000,0.429250
50%,4.786994e+06,8.660000e+04,78.800000,0.730000,0.000000,21.000000,5500.000000,92.500000,176.200000,10.420000,1.030000,85.700000,2.000000,18.790000,7.840000,0.099000,0.272000,0.571000
75%,1.749777e+07,4.418110e+05,190.150000,10.345000,0.997500,55.705000,15700.000000,98.000000,389.650000,20.000000,4.440000,95.440000,3.000000,29.820000,10.605000,0.221000,0.341000,0.678500
max,1.313974e+09,1.707520e+07,16271.500000,870.660000,23.060000,191.190000,55100.000000,100.000000,1035.600000,62.110000,50.680000,100.000000,4.000000,50.730000,29.740000,0.769000,0.906000,0.954000

In [5]:
#plot to show population by country
data = dict(type='choropleth',
locations = df['Country'],
locationmode = 'country names', z = df['Population'],
text = df['Country'], colorbar = {'title':'Population'},
colorscale = [[0,"rgb(5, 10, 172)"],[0.35,"rgb(40, 60, 190)"],[0.5,"rgb(70, 100, 245)"],\
            [0.6,"rgb(90, 120, 245)"],[0.7,"rgb(106, 137, 247)"],[1,"rgb(220, 220, 220)"]],
reversescale = True) 
layout = dict(title='Population by Country',
geo = dict(showframe=False,projection={'type':'Mercator'}))
choromap = go.Figure(data = [data],layout = layout)
py.iplot(choromap,validate=False)

In [11]:
# plot to show GDP by country 
data = dict(type='choropleth',
locations = df['Country'],
locationmode = 'country names', z = df['GDP ($ per capita)'],
text = df['Country'], colorbar = {'title':'GDP ($ per capita)'},
colorscale = [[0.0, 'rgb(242,240,247)'],[0.2, 'rgb(218,218,235)'],[0.4, 'rgb(188,189,220)'],\
            [0.6, 'rgb(158,154,200)'],[0.8, 'rgb(117,107,177)'],[1.0, 'rgb(84,39,143)']],
reversescale = False) 
layout = dict(title='Wealthy Countries',
geo = dict(showframe=False,projection={'type':'Mercator'}))
choromap = go.Figure(data = [data],layout = layout)
py.iplot(choromap,validate=False)

In [17]:
# plot to show Infant Mortality Rate by Country
data = dict(type='choropleth',
locations = df['Country'],
locationmode = 'country names', z = df['Infant mortality (per 1000 births)'],
text = df['Country'], colorbar = {'title':'Infant mortality (per 1000 births)'},
colorscale = [[0.0, 'rgb(165,0,38)'], [0.1111111111111111, 'rgb(215,48,39)'], \
               [0.3333333333333333, 'rgb(253,174,97)'],[0.6666666666666666, 'rgb(171,217,233)'], \
              [0.7777777777777778, 'rgb(116,173,209)'],[0.8888888888888888, 'rgb(69,117,180)'], [1.0, 'rgb(49,54,149)']],
reversescale = True) 
layout = dict(title='Healthy Countries',
geo = dict(showframe=False,projection={'type':'Mercator'}))
choromap = go.Figure(data = [data],layout = layout)
py.iplot(choromap,validate=False)

In [25]:
# plot to show Literacy percentage by country
data = dict(type='choropleth',
locations = df['Country'],
locationmode = 'country names', z = df['Literacy (%)'],
text = df['Country'], colorbar = {'title':'Literacy (%)'},
colorscale = [[0.0, 'rgb(51,160,44)'], [0.33, 'rgb(178,223,138)'], \
              [0.66, 'rgb(251,154,153)'], [1, 'rgb(227,26,28)']],
reversescale = True) 
layout = dict(title='Educated Countries',
geo = dict(showframe=False,projection={'type':'Mercator'}))
choromap = go.Figure(data = [data],layout = layout)
py.iplot(choromap,validate=False)